<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Status.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Status.Properties.Settings>
            <setting name="battery1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="battery2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="playersource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="playersource1" serializeAs="String">
                <value>http://www.swr3.de/wraps/musik/webradio/aplayer/stream_extern.php?format=mp3e&amp;channel=0</value>
            </setting>
            <setting name="playersource2" serializeAs="String">
                <value />
            </setting>
            <setting name="playervolume" serializeAs="String">
                <value>20</value>
            </setting>
        </Status.Properties.Settings>
    </userSettings>
</configuration>